body{
	font-family:georgia, arial, sans-serif;
	font-size:100%;
	background-color:#000000;
	color:white;
	background-image:url("../images/board.jpeg");
	background-repeat:repeat;
}

.body{
	margin:0 auto;
	clear:both;
}

.header{
	width:100%;
	float:left;
	clear:both;
	margin-top:-4%;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.header nav{
	background-color:#1bcbff;
	height:50px;
	padding-top:0.3%;
	padding-bottom:0.3%;
	font-size:105%;
}

.header nav ul{
	list-style-type:none;
	margin-left:10%;	
}

.header nav ul li{
	text-transform:uppercase;
	padding-right:4%;
	float:left;	
}

.li:active{

}

.header nav ul a{
	text-decoration:none; /* removes the bullets */
	text-align:center;
}

a:hover{
	color:#3b78a7;
	color:white;
}

.active{
	background-color:#3b78a7;
	padding:20px 25px;
	color:white;
}

.maincontent{
	width:80%;
	margin-top:4%;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	
	background-color:#3b78a7;
	border-left-style:solid;
	border-right-style:solid;
	border-width:1px;
	line-height:25px;
}

.article{
	padding:4%;
}

.mainfooter{
	width:100%;
	float:left;
	border-top-style:solid;
	border-top-width:1px;
	background-color:#1bcbff;
}

.mainfooter p{
	width: 95%;
	padding:2%;
	text-align:center;
	color:#000;
	
}

.mainfooter a{
	padding:0;
}

/* using media queries for a responsive website. */

@media only screen and (min-width:140px) and (max-width:640px)
{
	.body{
		padding:2%;
	}
	
	.header{
		margin-top:1%;
	}
	
	.header nav{
		height:180px;
		font-size:105%;
		margin-bottom:3%;
	}
	
	.header nav ul{
		margin:0;
		width:100%;
		list-style:none;
		padding-left:0;
	}
	
	.header nav ul li{
		width:100%;
		padding:1.4% 0 1.1% 0;
		text-align:center;
		margin:0;
	}
	
	.header nav ul li a{
		display:block;
		padding:0;
	}
	
	.header nav ul li a:hover{
		background-color:#3b78a7;
		padding:1% 0;
		color:white;
	}
	
	.maincontent{
		margin-top:0;
		float:left;
		width:100%;
		margin-bottom:3%;
	}
	
}
